html {
  font-size: 12px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
  font-family: 'Open Sans', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
    /*background-color: #00539F;*/
}


header {
  height : 20%;
      border: 1px solid black;
      text-align: justify;
      padding: 12px; /* Marge intérieure de 12px */
      margin-top : 2%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom : 2%;
  padding-left: 10%;
  font-size: 30px;
}

#conteneur { display:flex;
  margin : auto;
}



nav {
  width : 20%;
  margin : auto;
font-size: 18px;
padding-bottom: 50%;}

#categories{
  width : 70%;
  margin-top : 2%;
  margin-bottom : 2%;
}


#categories_a { display:flex;
  margin : auto;
}

#categories_b { display:flex;
  margin : auto;
}

#categories_c { display:flex;
  margin : auto;
}

#categorie_aa{
  width : 20%;
  height : 20%;
  margin : auto;
     background-color: #cccccc;
}


#categories_ab{
  width : 20%;
  height : 20%;
  margin : auto;
     background-color: #cccccc;

}


#categorie_ac{
  width : 20%;
  height : 20%;
  margin : auto;
     background-color: #cccccc;
}


#categorie_ba{
  width : 20%;
  height : 20%;
  margin : auto;
     background-color: #cccccc;
}


#categorie_bb{
  width : 20%;
  height : 20%;
  margin : auto;
     background-color: #cccccc;
}

#categorie_bc{
  width : 20%;
  height : 20%;
  margin : auto;
     background-color: #cccccc;
}


#categorie_ca{
  width : 100px;
  height : 100px;
  margin : auto;
     background-color: #cccccc;
}

#categorie_cb{
  width : 100px;
  height : 100px;
  margin : auto;
     background-color: #cccccc;
}


#categorie_cc{
  width : 100px;
  height : 100px;
  margin : auto;
     background-color: #cccccc;
}








